streamlit
pandas
gspread
google-auth-oauthlib
google-auth-httplib2
plotly
python-dotenv
google-api-python-client
fpdf2
Pillow
kaleido
arabic-reshaper
python-bidi
firebase-admin
google-cloud-firestore
